# Austin Crime Reports Analysis, Pt.2

After completing the first notebook, I did some further analysis in Excel with parts of the dataset I saved to individual csv files. In particular, I separated the address column into street numbers and names to add some dimension.

In [1]:
# Importing essential libraries and configurations
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)

In [2]:
# Loading the dataframes
df_mur = pd.read_csv('df_mur.csv')
df_mur_cap = pd.read_csv('df_mur_cap.csv')
df_rape = pd.read_csv('df_rape.csv')

In [3]:
df_mur.report_date_time = df_mur.report_date_time.astype('datetime64')
df_mur.set_index(['report_date_time'], inplace=True)
df_mur.sort_index(inplace=True)

df_mur_cap.report_date_time = df_mur_cap.report_date_time.astype('datetime64')
df_mur_cap.set_index(['report_date_time'], inplace=True)
df_mur_cap.sort_index(inplace=True)

df_rape.report_date_time = df_rape.report_date_time.astype('datetime64')
df_rape.set_index(['report_date_time'], inplace=True)
df_rape.sort_index(inplace=True)

# Converting columns to their appropriate data types
df_mur.clearance_date = df_mur.clearance_date.astype('datetime64')
df_mur.occurred_date = df_mur.occurred_date.astype('datetime64')

df_mur_cap.clearance_date = df_mur_cap.clearance_date.astype('datetime64')
df_mur_cap.occurred_date = df_mur_cap.occurred_date.astype('datetime64')

df_rape.clearance_date = df_rape.clearance_date.astype('datetime64')
df_rape.occurred_date = df_rape.occurred_date.astype('datetime64')

display(df_mur.head())
print('----------------------------------')
display(df_mur.tail())
print('----------------------------------')
display(df_mur_cap.head())
print('----------------------------------')
display(df_mur_cap.tail())
print('----------------------------------')
display(df_rape.head())
print('----------------------------------')
display(df_rape.tail())

,highest_offense_description,highest_offense_code,family_violence,occurred_date,location_type,street_number,street_name,address,zip_code,council_district,apd_sector,apd_district,pra,clearance_status,clearance_date,latitude,longitude
report_date_time,,,,,,,,,,,,,,,,,
2003-01-05 17:40:00,MURDER,100,N,2003-01-05,RESIDENCE / HOME,8615,BOWLING GREEN DR,8615 BOWLING GREEN DR,78757,7.0,ID,7,234,C,2003-02-04,30.368636,-97.726368
2003-01-16 01:02:00,MURDER,100,N,2003-01-16,RESIDENCE / HOME,7508,PROVIDENCE AVE,7508 PROVIDENCE AVE,78752,4.0,ID,1,265,C,2003-01-28,30.333538,-97.695013
2003-01-30 13:27:00,MURDER,100,N,2003-01-30,RESIDENCE / HOME,8225,SAM RAYBURN DR,8225 SAM RAYBURN DR,78753,4.0,ED,1,250,C,2003-05-14,30.347781,-97.698832
2003-02-10 11:36:00,MURDER,100,N,2003-02-10,COMMERCIAL / OFFICE BUILDING,403,E BEN WHITE BLVD SVRD EB,403 E BEN WHITE BLVD SVRD EB,78745,3.0,DA,3,492,C,2003-02-19,30.220054,-97.760515
2003-02-12 16:02:00,MURDER,100,N,2003-02-12,RESIDENCE / HOME,2207,WICKERSHAM LN,2207 WICKERSHAM LN,78741,3.0,HE,4,458,C,2003-06-14,30.228991,-97.720632

----------------------------------

,highest_offense_description,highest_offense_code,family_violence,occurred_date,location_type,street_number,street_name,address,zip_code,council_district,apd_sector,apd_district,pra,clearance_status,clearance_date,latitude,longitude
report_date_time,,,,,,,,,,,,,,,,,
2020-07-13 15:00:00,MURDER,100,N,2020-07-13,OTHER / UNKNOWN,2400,WICKERSHAM LN,2400 WICKERSHAM LN,78741,3.0,HE,4,458,NaN,NaT,30.227649,-97.723301
2020-07-16 16:32:00,MURDER,100,N,2020-07-16,STREETS / HWY / ROAD / ALLEY,1200,BLOCK BONNIE BRAE,1200 BLOCK BONNIE BRAE,78753,4.0,ED,7,241,NaN,NaT,30.358718,-97.678223
2020-07-19 01:36:00,MURDER,100,N,2020-07-19,PARKING LOTS / GARAGE,500,CANYON RIDGE DR,500 CANYON RIDGE DR,78753,7.0,ED,6,206,NaN,NaT,30.405264,-97.671896
2020-07-20 05:24:00,MURDER,100,N,2020-07-20,PARKING LOTS / GARAGE,1400,E 51ST ST,1400 E 51ST ST,78723,4.0,ID,5,48,C,2020-07-23,30.306848,-97.704235
2020-07-25 21:51:00,MURDER,100,N,2020-07-25,STREETS / HWY / ROAD / ALLEY,E,4TH ST / CONGRESS AVE,E 4TH ST / CONGRESS AVE,78701,9.0,GE,3,406,NaN,NaT,30.266208,-97.743503

----------------------------------

,highest_offense_description,highest_offense_code,family_violence,occurred_date,location_type,street_number,street_name,address,zip_code,council_district,apd_sector,apd_district,pra,clearance_status,clearance_date,latitude,longitude
report_date_time,,,,,,,,,,,,,,,,,
2003-04-25 22:55:00,CAPITAL MURDER,101,N,2003-04-25,RESIDENCE / HOME,1401,E RUNDBERG LN,1401 E RUNDBERG LN,78753,4.0,ED,3,251,C,2003-05-07,30.351630,-97.678320
2003-08-02 13:30:00,CAPITAL MURDER,101,Y,2003-08-02,RESIDENCE / HOME,2700,BLOCK S CONGRESS AVE,2700 BLOCK S CONGRESS AVE,78704,3.0,DA,2,479,C,2003-11-05,NaN,NaN
2003-10-06 07:57:00,CAPITAL MURDER,101,N,2003-10-06,RESIDENCE / HOME,8312,N I 35 SB SVC RD,8312 N I 35 SB SVC RD,78753,4.0,ID,2,250,C,2003-12-20,30.346368,-97.695906
2003-11-14 21:53:00,CAPITAL MURDER,101,N,2003-11-14,COMMERCIAL / OFFICE BUILDING,3128,MANOR RD,3128 MANOR RD,78723,1.0,BA,4,900,NaN,NaT,30.286819,-97.704318
2003-12-03 06:39:00,CAPITAL MURDER,101,Y,2003-12-03,COMMERCIAL / OFFICE BUILDING,6407,SPRINGDALE RD,6407 SPRINGDALE RD,78723,1.0,CH,4,324,C,2007-12-14,30.306427,-97.669436

----------------------------------

,highest_offense_description,highest_offense_code,family_violence,occurred_date,location_type,street_number,street_name,address,zip_code,council_district,apd_sector,apd_district,pra,clearance_status,clearance_date,latitude,longitude
report_date_time,,,,,,,,,,,,,,,,,
2019-01-25 17:55:00,CAPITAL MURDER,101,N,2019-01-25,STREETS / HWY / ROAD / ALLEY,8100,BLOCK SONNET AVE,8100 BLOCK SONNET AVE,78759,10.0,BA,8,231,C,2019-01-25,30.366019,-97.745996
2019-03-24 00:29:00,CAPITAL MURDER,101,N,2019-03-24,RESIDENCE / HOME,1215,SOUTHPORT DR,1215 SOUTHPORT DR,78704,3.0,DA,2,468,C,2019-07-01,30.231741,-97.776455
2019-12-12 19:35:00,CAPITAL MURDER,101,N,2019-12-12,RESIDENCE / HOME,744,W WILLIAM CANNON DR,744 W WILLIAM CANNON DR,78745,2.0,FR,4,512,C,2019-12-19,30.198357,-97.789263
2020-06-23 15:10:00,CAPITAL MURDER,101,N,2020-06-23,RESIDENCE / HOME,9210,NORTHGATE BLVD,9210 NORTHGATE BLVD,78758,4.0,ED,2,235,N,2020-07-04,30.371848,-97.716201
2020-06-28 07:55:00,CAPITAL MURDER,101,N,2020-06-28,RESIDENCE / HOME,2904,PECAN SPRINGS RD,2904 PECAN SPRINGS RD,78723,1.0,ID,4,298,N,2020-06-29,30.300825,-97.684320

----------------------------------

,highest_offense_description,highest_offense_code,family_violence,occurred_date,location_type,street_number,street_name,address,zip_code,council_district,apd_sector,apd_district,pra,clearance_status,clearance_date,latitude,longitude
report_date_time,,,,,,,,,,,,,,,,,
2003-01-01 11:05:00,RAPE,200,N,2003-01-01,RESIDENCE / HOME,4700,BLOCK MONTEREY OAKS BLVD,4700 BLOCK MONTEREY OAKS BLVD,78749,8.0,DA,6,79,C,2003-04-04,NaN,NaN
2003-01-05 08:02:00,RAPE,200,N,2003-01-04,DRUG STORE / DR. OFFICE / HOSPITAL,600,BLOCK E 15TH ST,600 BLOCK E 15TH ST,78701,1.0,BA,1,384,O,2003-01-10,NaN,NaN
2003-01-05 21:37:00,RAPE,200,Y,2003-01-05,RESIDENCE / HOME,1200,BLOCK E 52ND ST,1200 BLOCK E 52ND ST,78723,4.0,ID,5,48,C,2003-01-05,NaN,NaN
2003-01-10 16:59:00,RAPE,200,N,2003-01-06,RESIDENCE / HOME,3800,BLOCK N LAMAR BLVD,3800 BLOCK N LAMAR BLVD,78756,10.0,BA,6,328,N,NaT,NaN,NaN
2003-01-10 20:50:00,RAPE,200,N,2003-01-08,RESIDENCE / HOME,400,BLOCK W 38TH ST,400 BLOCK W 38TH ST,78705,9.0,BA,1,346,O,2003-07-17,NaN,NaN

----------------------------------

,highest_offense_description,highest_offense_code,family_violence,occurred_date,location_type,street_number,street_name,address,zip_code,council_district,apd_sector,apd_district,pra,clearance_status,clearance_date,latitude,longitude
report_date_time,,,,,,,,,,,,,,,,,
2020-07-21 18:17:00,RAPE,200,Y,2020-07-21,RESIDENCE / HOME,13700,BLOCK N FM 620 RD SB,13700 BLOCK N FM 620 RD SB,78717,6.0,AD,5,573,NaN,NaT,NaN,NaN
2020-07-24 12:54:00,RAPE,200,Y,2020-07-03,RESIDENCE / HOME,5600,BLOCK SPRINGDALE RD,5600 BLOCK SPRINGDALE RD,78723,1.0,CH,4,324,N,2020-07-29,NaN,NaN
2020-07-26 13:07:00,RAPE,200,N,2020-07-25,HOTEL / MOTEL / ETC.,200,BLOCK LAVACA ST,200 BLOCK LAVACA ST,78701,9.0,GE,4,405,NaN,NaT,NaN,NaN
2020-07-27 13:05:00,RAPE,200,Y,2020-02-15,RESIDENCE / HOME,400,BLOCK E WONSLEY DR,400 BLOCK E WONSLEY DR,78753,4.0,ED,1,592,NaN,NaT,NaN,NaN
2020-07-29 17:25:00,RAPE,200,N,2020-07-20,NaN,1200,BLOCK W 40TH ST,1200 BLOCK W 40TH ST,78756,10.0,BA,6,328,NaN,NaT,NaN,NaN

In [9]:
df = pd.read_csv('df_concat.csv', index_col=0, parse_dates=True)

df.sort_index(inplace=True)

display(df.head())
print('----------------------------------')
display(df.tail())

,highest_offense_description,family_violence,occurred_date,location_type,street_number,street_name,address,zip_code,council_district,apd_sector,apd_district,pra,clearance_status,clearance_date,latitude,longitude
report_date_time,,,,,,,,,,,,,,,,
2003-01-01 11:05:00,RAPE,N,1/1/2003,RESIDENCE / HOME,4700,MONTEREY OAKS BLVD,4700 BLOCK MONTEREY OAKS BLVD,78749,8.0,DA,6,79,C,4/4/2003,NaN,NaN
2003-01-05 08:02:00,RAPE,N,1/4/2003,DRUG STORE / DR. OFFICE / HOSPITAL,600,E 15TH ST,600 BLOCK E 15TH ST,78701,1.0,BA,1,384,O,1/10/2003,NaN,NaN
2003-01-05 17:40:00,MURDER,N,1/5/2003,RESIDENCE / HOME,8615,BOWLING GREEN DR,8615 BOWLING GREEN DR,78757,7.0,ID,7,234,C,2/4/2003,30.368636,-97.726368
2003-01-05 21:37:00,RAPE,Y,1/5/2003,RESIDENCE / HOME,1200,E 52ND ST,1200 BLOCK E 52ND ST,78723,4.0,ID,5,48,C,1/5/2003,NaN,NaN
2003-01-10 16:59:00,RAPE,N,1/6/2003,RESIDENCE / HOME,3800,N LAMAR BLVD,3800 BLOCK N LAMAR BLVD,78756,10.0,BA,6,328,N,NaN,NaN,NaN

,highest_offense_description,family_violence,occurred_date,location_type,street_number,street_name,address,zip_code,council_district,apd_sector,apd_district,pra,clearance_status,clearance_date,latitude,longitude
report_date_time,,,,,,,,,,,,,,,,
2020-07-24 12:54:00,RAPE,Y,7/3/2020,RESIDENCE / HOME,5600,SPRINGDALE RD,5600 BLOCK SPRINGDALE RD,78723,1.0,CH,4,324,N,7/29/2020,NaN,NaN
2020-07-25 21:51:00,MURDER,N,7/25/2020,STREETS / HWY / ROAD / ALLEY,E,4TH ST / CONGRESS AVE,E 4TH ST / CONGRESS AVE,78701,9.0,GE,3,406,NaN,NaN,30.266208,-97.743503
2020-07-26 13:07:00,RAPE,N,7/25/2020,HOTEL / MOTEL / ETC.,200,LAVACA ST,200 BLOCK LAVACA ST,78701,9.0,GE,4,405,NaN,NaN,NaN,NaN
2020-07-27 13:05:00,RAPE,Y,2/15/2020,RESIDENCE / HOME,400,E WONSLEY DR,400 BLOCK E WONSLEY DR,78753,4.0,ED,1,592,NaN,NaN,NaN,NaN
2020-07-29 17:25:00,RAPE,N,7/20/2020,NaN,1200,W 40TH ST,1200 BLOCK W 40TH ST,78756,10.0,BA,6,328,NaN,NaN,NaN,NaN

In [14]:
display(df.street_name.value_counts())

N IH 35 SVRD SB                 105
N LAMAR BLVD                     94
E RIVERSIDE DR                   65
S CONGRESS AVE                   64
WICKERSHAM LN                    57
E 32ND ST                        55
N IH 35 SVRD NB                  52
S IH 35 SVRD NB                  45
BURTON DR                        41
E 8TH ST                         40
E 6TH ST                         39
W WILLIAM CANNON DR              37
GUADALUPE ST                     37
E OLTORF ST                      36
RUTLAND DR                       35
S 1ST ST                         34
N I 35 SB SVC RD                 33
CROSSING PL                      31
E 4TH ST                         31
NORTHGATE BLVD                   30
MANCHACA RD                      29
N FM 620 RD                      27
E WILLIAM CANNON DR              27
CAMERON RD                       27
RED RIVER ST                     26
METRIC BLVD                      25
GROVE BLVD                       24
W SLAUGHTER LN                   23
RIO GRANDE ST                    23
SPRINGDALE RD                    22
                               ...
RIVERSIDE DR / WICKERSHAM LN      1
BLOCK N IH 35 NB                  1
TIMBER RIDGE DR                   1
THOUSAND OAKS DR                  1
HERRERA ST                        1
BRECKENRIDGE DR                   1
NEWFIELD LN                       1
VFW RD                            1
BLOCK E 9TH ST                    1
BRAMBLE BUSH DR                   1
W WONSLEY DR                      1
EAST CT                           1
W 15TH ST                         1
WAYSIDE DR                        1
DR / E RIVERSIDE DR               1
CARMEL DR                         1
E 21ST ST                         1
4TH ST / CONGRESS AVE             1
CHERRY LOOP                       1
BLOCK MANCHACA RD                 1
RICHARDSON LN                     1
MESA TRAILS CIR                   1
HILLCREST LN                      1
NICKOLS AVE                       1
MUSIC LN                          1
TIRADO ST                         1
SH 71 / W US 290 HWY              1
BLOCK REINLI ST                   1
WOODLAND VILLAGE DR               1
LORETTA WHITE LN                  1
Name: street_name, Length: 1551, dtype: int64