# Data Wrangling

This is a pet-project I've been working on for the last 2 months or so. One-half practice, one-half because I want to do my part in describing the chaos that is our world right now. What I intend is to analyze hate crimes trends for Austin, TX against the USA as a whole from 2017 to the present. 

I am using data provided by Austin PD in this notebook. For now, I am focusing solely on data for Austin only. I will get into broader data re: the USA later down the road. 

Also, this notebook will only contain the wrangling phase of the analysis. My next notebook will contain the cleaning process, and so on.

In [32]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

In [6]:
# Let's load some data & get to work!
aus_17 = pd.read_csv('https://data.austintexas.gov/resource/79qh-wdpx.csv', 
                     keep_default_na=False, 
                     na_values=[""])
display(aus_17.head())

,month,incident_number,date_of_incident_day_of_week,number_of_vitims_under_18,number_of_victims_over_18,number_of_offenders_under_18,number_of_offenders_over_18,race_or_ethnic_of_offender,offense,offense_location,bias,victim_type
0,January,2017-241137,01/01/2017/Sun,0,1,0,1,White/Not Hispanic,Aggravated Assault,Park/Playground,Anti-Black or African American,Individual
1,February,2017-580344,02/01/2017/Wed,0,1,0,1,Black or African American/Not Hispanic,Aggravated Assault,Highway/Road/Alley/Street/Sidewalk,Anti-White,Individual
2,March,2017-800291,03/21/2017/Tues,0,0,0,0,Unknown,Destruction,Highway/Road/Alley/Street/Sidewalk,Anti-Jewish,Other
3,April,2017-1021534,04/12/2017/Wed,0,0,0,0,White/Unknown,Simple Assault,Air/Bus/Train Terminal,Anti-Jewish,Individual
4,May,2017-1351550,05/15/2017/Mon,1,0,1,2,White/Not Hispanic,Simple Assault,Residence/Home,Anti-Gay (Male),Individual

In [5]:
# Loading the datasets for '18, '19, and this year
aus_18 = pd.read_csv('https://data.austintexas.gov/resource/idj2-d9th.csv', 
                     keep_default_na=False, 
                     na_values=[""])
aus_19 = pd.read_csv('https://data.austintexas.gov/resource/e3qf-htd9.csv', 
                     keep_default_na=False, 
                     na_values=[""])
aus_20 = pd.read_csv('https://data.austintexas.gov/resource/y6x2-kpr9.csv', 
                     keep_default_na=False, 
                     na_values=[""])

# Examining the sets
print('\n')
display(aus_18.head())
display(aus_19.head())
display(aus_20.head())

,month,incident_number,date_of_incident_day_of_week,number_of_vitims_under_18,number_of_victims_over_18,number_of_offenders_under_18,number_of_offenders_over_18,race_ethnic_of_offender_s,offense_s,offense_location,bias,victim_type
0,January,2018-251458,01 25 2018/Thur,0,2,0,1,White/NotHispanic,Burglary/Assault,Residence/Home,Anti-Lesbian,Individual
1,January,2018-200595,01 19 2018/Fri,0,0,0,0,Unknown,Vandalism,Parking Lot/Garage,Anti-Black,Vehicle
2,February,2018-400447,02 08 2018/Thur,0,1,0,1,White/NotHispanic,Assault,Parking Lot/Garage,Anti-Gay,Individual
3,February,2018-530804,02 22 2018/Thur,0,1,0,1,White/NotHispanic,Vandalism,Highway/Road/Street,Anti-Black,Individual
4,March,2018-611809,03 02 2018/Fri,0,1,0,4,Black/Unknown,Assault,Highway/Road/Street,Anti-Hispanic,Individual

,month,incident_number,date_of_incident,day_of_week,number_of_victims_under_18,number_of_victims_over_18,number_of_offenders_under,number_of_offenders_over,race_ethnicity_of_offenders,offense_s,offense_location,bias,notes
0,January,2019-8000242,2018-12-29T00:00:00.000,Saturday,0,1,0,0,Unknown,Assault,Bar/Nightclub,Anti-Gay (Male),"Offense occurred in 2018, but reported in Janu..."
1,January,2019-190201,2019-01-19T00:00:00.000,Saturday,0,2,0,4,White/Hispanic (2) White/NonHispanic (2),Assault,Streets/Highway/Road/Alley,Anti-Gay (Male),"Four total offenders, two White Hispanic, two ..."
2,February,2019-531028,2019-02-22T00:00:00.000,Friday,0,1,0,0,Unknown,Vandalism,Residence/Home,Anti-Jewish,NaN
3,March,2019-901579,2019-03-31T00:00:00.000,Sunday,0,1,0,1,White/Hispanic,Assault,Bar/Nightclub,Anti-Gay (Male),NaN
4,April,2019-941819,2019-04-04T00:00:00.000,Saturday,0,1,0,3,White/Hispanic,Assault,School-Elementary/Secondary,Anti-Hispanic/Latino,NaN

,month,incident_number,date_of_incident,day_of_week,number_of_victims_under_18,number_of_victims_over_18,number_of_offenders_under,number_of_offenders_over,race_ethnicity_of_offenders,offense_s,offense_location,bias,notes
0,March,2020-602085,2020-03-01T00:00:00.000,Sunday,0,1,0,1,White/Non-Hispanic,Criminal Mischief,Residence/Home,Anti-Black,NaN
1,March,2020-680226,2020-03-08T00:00:00.000,Sunday,0,1,0,2,White/Hispanic,Assault,Parking Lot,Anti-Gay (Male); Anti-Transgender,NaN
2,March,2020-5011788,2020-03-22T00:00:00.000,Sunday,0,1,0,0,Unknown,Criminal Mischief,Residence/Home,Anti-Gay (Male); Anti-Jewish,NaN
3,April,2020-5015689,2020-04-20T00:00:00.000,Monday,0,1,0,0,Unknown,Criminal Mischief,Church/Synagogue/Temple/Mosque,Anti-Buddhist,NaN
4,April,2020-5016804,2020-04-29T00:00:00.000,Wednesday,0,1,0,1,Black/Non-Hispanic,Assault by Threat,Department/Discount Store,Anti-Gay (Male); Anti-Transgender,NaN

Needless to say, these data are quite messy! We'll need to clean & merge these into one df before we can start analyzing. There are several columns in each set we don't need and there are also NaN values.

One brutally glaring problem that really irks me is the 'date' columns are all formatted differently! What's worse, 2019 for ex., has the date column split into 2! This can cause quite a headache later so we'll definitely need to remedy these problems.

Also, I'll want to include all the different lgbt-related biases into one as 'anti-lgbt' to make analyzing even easier. 

Before doing so, however, I want to take a look at some variables within the data.

Already, I know that the 'bias' column is going to be a pivotal feature of this analysis.

In [17]:
# Need to be sure of the data types in each set for 'bias'.
# print(aus_17.describe())
# print(aus_18.describe())
# print(aus_19.describe())
# print(aus_20.describe())

# Only the 'offenders' & 'victims' columns are numerical...can't really do much descriptive stats with only that. 

# print(aus_17['bias'].dtype)
# print(aus_18['bias'].dtype)
# print(aus_19['bias'].dtype)
# print(aus_20['bias'].dtype)

print(aus_17['bias'].sum())
print(aus_18['bias'].sum())
print(aus_19['bias'].sum())
print(aus_20['bias'].sum())

# This is important because since I am focusing mainly on the LGBT community, I will need to merge all the LGBT related 
# variables in the 'bias' columns into one variable as 'anti-lgbt'.

Anti-Black or African AmericanAnti-WhiteAnti-JewishAnti-JewishAnti-Gay (Male)Anti-Gay (Male)Anti-Hispanic or LatinoAnti-Black or African AmericanAnti-Black or African AmericanAnti-Black or African AmericanAnti-TransgenderAnti-Gay (Male)Anti-Black or African AmericanAnti-Gay (Male)Anti-Islamic (Muslim)Anti-Islamic (Muslim)Anti-Hispanic or Latino
Anti-LesbianAnti-BlackAnti-GayAnti-BlackAnti-HispanicAnti-ArabAnti-BlackAnti-BlackAnti-WhiteAnti-GayAnti-Gay (Male)Anti-BlackAnti-BlackAnti-BlackAnti-DisabilityAnti-BlackAnti-HispanicAnti-TransgenderAnti-Hispanic
Anti-Gay (Male)Anti-Gay (Male)Anti-JewishAnti-Gay (Male)Anti-Hispanic/LatinoAnti-WhiteAnti-Islamic(Muslim)Anti-Black or African AmericanAnti-Gay (Male)Anti-Gay (Male)Anti-Black or African AmericanAnti-Black or African American
Anti-BlackAnti-Gay (Male); Anti-TransgenderAnti-Gay (Male); Anti-JewishAnti-BuddhistAnti-Gay (Male); Anti-Transgender

So the good thing is the 'bias' column of each set is formatted the same so that is at least one blessing we can count.

Accordingly, we should be able to go ahead & concatenate into one df & then we can begin cleaning everything up.

The following code is an in-notebook exercise just so I can sharpen-up on concatenating dfs since I haven't done it in a while.

In [19]:
# Just for fun, let's see if we can go ahead & concatenate the frames together, THEN work on cleaning it up....
aus_17_sub = aus_17.head(5)
aus_17_sub_last5 = aus_17.tail(5) 
aus_17_sub_last5 = aus_17_sub_last5.reset_index(drop=True)

# Let's test it out to see if everything is in order enough to even try
vertical_stack = pd.concat([aus_17_sub, aus_17_sub_last5], axis=0)
horizontal_stack = pd.concat([aus_17_sub, aus_17_sub_last5], axis=1)

display(vertical_stack.head())
display(horizontal_stack.head())

,month,incident_number,date_of_incident_day_of_week,number_of_vitims_under_18,number_of_victims_over_18,number_of_offenders_under_18,number_of_offenders_over_18,race_or_ethnic_of_offender,offense,offense_location,bias,victim_type
0,January,2017-241137,01/01/2017/Sun,0,1,0,1,White/Not Hispanic,Aggravated Assault,Park/Playground,Anti-Black or African American,Individual
1,February,2017-580344,02/01/2017/Wed,0,1,0,1,Black or African American/Not Hispanic,Aggravated Assault,Highway/Road/Alley/Street/Sidewalk,Anti-White,Individual
2,March,2017-800291,03/21/2017/Tues,0,0,0,0,Unknown,Destruction,Highway/Road/Alley/Street/Sidewalk,Anti-Jewish,Other
3,April,2017-1021534,04/12/2017/Wed,0,0,0,0,White/Unknown,Simple Assault,Air/Bus/Train Terminal,Anti-Jewish,Individual
4,May,2017-1351550,05/15/2017/Mon,1,0,1,2,White/Not Hispanic,Simple Assault,Residence/Home,Anti-Gay (Male),Individual

,month,incident_number,date_of_incident_day_of_week,number_of_vitims_under_18,number_of_victims_over_18,number_of_offenders_under_18,number_of_offenders_over_18,race_or_ethnic_of_offender,offense,offense_location,...,date_of_incident_day_of_week,number_of_vitims_under_18,number_of_victims_over_18,number_of_offenders_under_18,number_of_offenders_over_18,race_or_ethnic_of_offender,offense,offense_location,bias,victim_type
0,January,2017-241137,01/01/2017/Sun,0,1,0,1,White/Not Hispanic,Aggravated Assault,Park/Playground,...,10/15/2017/Sun,0,1,0,1,White/Hispanic or Latino,Simple Assault,Highway/Road/Alley/Street/Sidewalk,Anti-Black or African American,Individual
1,February,2017-580344,02/01/2017/Wed,0,1,0,1,Black or African American/Not Hispanic,Aggravated Assault,Highway/Road/Alley/Street/Sidewalk,...,10/24/2017/Tues,0,1,2,0,White/Hispanic or Latino,Intimidation,Residence/Home,Anti-Gay (Male),Individual
2,March,2017-800291,03/21/2017/Tues,0,0,0,0,Unknown,Destruction,Highway/Road/Alley/Street/Sidewalk,...,11/10/2017/Fri,0,1,0,1,White/Not Hispanic,Simple Assault,Restaurant,Anti-Islamic (Muslim),Individual
3,April,2017-1021534,04/12/2017/Wed,0,0,0,0,White/Unknown,Simple Assault,Air/Bus/Train Terminal,...,11/16/2017/Thurs,0,1,0,1,White/Unknown,Simple Assault,Other/Unknown,Anti-Islamic (Muslim),Individual
4,May,2017-1351550,05/15/2017/Mon,1,0,1,2,White/Not Hispanic,Simple Assault,Residence/Home,...,11/26/2017/Sun,0,1,0,0,Unknown,Intimidation,Parking/Drop Lot,Anti-Hispanic or Latino,Individual

In [20]:
vertical_stack.to_csv(r'C:\Users\Robert\OneDrive\Desktop\data_output_out.csv', 
                      index=False)

new_output = pd.read_csv(r'C:\Users\Robert\OneDrive\Desktop\data_output_out.csv', 
                         keep_default_na=False, 
                         na_values=[""])

In [21]:
display(new_output.head())
display(aus_17.head())

,month,incident_number,date_of_incident_day_of_week,number_of_vitims_under_18,number_of_victims_over_18,number_of_offenders_under_18,number_of_offenders_over_18,race_or_ethnic_of_offender,offense,offense_location,bias,victim_type
0,January,2017-241137,01/01/2017/Sun,0,1,0,1,White/Not Hispanic,Aggravated Assault,Park/Playground,Anti-Black or African American,Individual
1,February,2017-580344,02/01/2017/Wed,0,1,0,1,Black or African American/Not Hispanic,Aggravated Assault,Highway/Road/Alley/Street/Sidewalk,Anti-White,Individual
2,March,2017-800291,03/21/2017/Tues,0,0,0,0,Unknown,Destruction,Highway/Road/Alley/Street/Sidewalk,Anti-Jewish,Other
3,April,2017-1021534,04/12/2017/Wed,0,0,0,0,White/Unknown,Simple Assault,Air/Bus/Train Terminal,Anti-Jewish,Individual
4,May,2017-1351550,05/15/2017/Mon,1,0,1,2,White/Not Hispanic,Simple Assault,Residence/Home,Anti-Gay (Male),Individual

,month,incident_number,date_of_incident_day_of_week,number_of_vitims_under_18,number_of_victims_over_18,number_of_offenders_under_18,number_of_offenders_over_18,race_or_ethnic_of_offender,offense,offense_location,bias,victim_type
0,January,2017-241137,01/01/2017/Sun,0,1,0,1,White/Not Hispanic,Aggravated Assault,Park/Playground,Anti-Black or African American,Individual
1,February,2017-580344,02/01/2017/Wed,0,1,0,1,Black or African American/Not Hispanic,Aggravated Assault,Highway/Road/Alley/Street/Sidewalk,Anti-White,Individual
2,March,2017-800291,03/21/2017/Tues,0,0,0,0,Unknown,Destruction,Highway/Road/Alley/Street/Sidewalk,Anti-Jewish,Other
3,April,2017-1021534,04/12/2017/Wed,0,0,0,0,White/Unknown,Simple Assault,Air/Bus/Train Terminal,Anti-Jewish,Individual
4,May,2017-1351550,05/15/2017/Mon,1,0,1,2,White/Not Hispanic,Simple Assault,Residence/Home,Anti-Gay (Male),Individual

Okay! Looks like everything worked perfectly!

So let's concatenate the dfs together for real this time!

In [31]:
aus_final = pd.concat([aus_17, aus_18, aus_19, aus_20], 
                      axis=0, sort=False)
                       
                                            
display(aus_final.describe()) # As I said, we're going to have to do something with many of these columns
display(aus_final.shape)

,number_of_vitims_under_18,number_of_victims_over_18,number_of_offenders_under_18,number_of_offenders_over_18,number_of_victims_under_18,number_of_offenders_under,number_of_offenders_over
count,36.000000,53.000000,36.000000,36.000000,17.000000,17.000000,17.000000
mean,0.055556,0.905660,0.111111,1.000000,0.058824,0.176471,1.117647
std,0.232311,0.404976,0.398410,0.676123,0.242536,0.727607,1.111438
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000
50%,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000
75%,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000
max,1.000000,2.000000,2.000000,4.000000,1.000000,3.000000,4.000000

(53, 21)

In [54]:
aus_final = aus_final.to_csv(r"C:\Users\Robert\OneDrive\Desktop\aus_final.csv")

So that was fun...in the next notebook, I'll begin the process of cleaning up our concatenated dataframe. Slowly but surely we'll get there. I definitely can't wait to start visualizing.